/**
 * This CSS file will handle the landing pages and error
 * pages, and hence is separate from the default stylesheet.
 */

/* Import statements here*/
@import '/css/fonts.css';

/* This CSS will handle padding and margins. */
* {
	padding: 0;
	margin: 0;
}

/* Global stylesheet */

#container {
	position: fixed;
	height: 100%;
	width: 100%;
}

#header {
	box-sizing: border-box;
}

#footer {
	box-sizing: border-box;
	bottom: 0;
	width: 100%;
	padding: 20px;
	background-color: rgba(0, 0, 0, .75);
}

.nav li {
	display: block;
}

.social li {
	display: inline-block;
	padding: 10px;
}

.social img {
	width: 24px;
	height: 24px;
}

#content {
	text-align: center;
}



/* Device specific stylesheets */
/* Phone spec */
@media only screen and (max-width: 720px) and (orientation: portrait) {

	/* the whole container */
	#container {
		display: flex;
		overflow: hidden;
		flex-flow: column;
	}
	
	/* Header */
	#header {
		position: relative;
		width: 100%;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 20px;
	}
	
	#header .nav {
		padding-top: 15px;
	}
	
	#header .nav, .social {
		width: 100%;
		background-color: rgba(0,0,0,0.25);
	}
	
	#header .nav li {	
		padding: 5px;
	}
	
	/* Content */
	#content {
		flex: 1;
		overflow: auto;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	/* Footer */
	#footer {
		position: relative;
		width: 100%;
		bottom: 0;
	}
}


/* Phone-Landscape spec */
@media only screen and (max-width: 850px) and (orientation: landscape) {

	#header .nav {
		position: relative;
		float: left;
	}

	.nav li {
		display: inline-block;
	}

	/* Footer */
	#footer {
		position: absolute;
		bottom: 0;
	}
}


/* PC Spec */
@media only screen and (min-width: 450px){
	
	/* Header */
	#header {
		width: 100%;
		padding: 20px;
		position: absolute;
		top: 0;
		display: block;
	}
	
	#header .nav {
		position: relative;
		float: left;
	}
	
	#header .nav a {
		text-decoration: none;
	}
	
	#header .nav li {	
		padding: 5px;
	}
	
	#header .nav a:hover, .social img:hover {
		text-decoration: none;
		opacity: 0.8;
	}
	
	#header .social {
		position: relative;
		float: right;
	}

	#content {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	
	/* Footer */
	#footer {
		position: absolute;
		bottom: 0;
	}
	
}

