@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400&display=swap');

/* Font rules here */
* {
	font-family: "Catamaran", sans-serif;
	font-weight: 300;
}

.header, .footer {
	font-family: "Catamaran", sans-serif;
	font-weight: 400;
}

.body {
	font-family: "Catamaran", sans-serif;	
	font-weight: 400
	opacity: 0.85;
	text-align: center;
}

.display1 {
	font-family: "Catamaran", sans-serif;	
	font-weight: 300;
	text-align: center;
}

.caption {
	font-family: "Catamaran", sans-serif;	
	opacity: 0.85;
	text-align: center;
	letter-spacing: 5px;
}

@media only screen and (min-width: 850px) {	
	/* font sizes */
	.display1 {
		font-size: 112px;
	}

	.caption {
		font-size: 24px;
		letter-spacing: 5px;
		font-weight: 200;
	}
	
	.body {
		font-size: 20px;
		font-weight: 300;
	}
}

@media only screen and (max-width: 850px) {
	/* font sizes */
	.display1 {
		font-size: 45px;
		font-weight: 400;
	}

	.caption {
		font-size: 18px;
		letter-spacing: 3px;
		font-weight: 300;
	}
	
	.body {
		font-size: 18px;
		font-weight: 300;
	}
}
