/* Import statements here*/
@import '/css/base-landing.css';

/* Global stylesheet */
* {
	color: white;
}

#container {
	background:
		linear-gradient(
			rgba(0,0,0,0.25),
			rgba(0,0,0,0.25)
		),
		url("../images/bg.jpg");
	background-size: cover;
	background-color: rgba(0,0,0,.75);
}



