---
import Base from '../layouts/base.astro';
---

<Base>
	<body>
		<div class="relative w-screen h-screen items-center justify-center">
			<div class="w-screen h-screen bg-hero-img bg-cover bg-center brightness-50" />
			<p class="absolute-center font-bold text-8xl text-white">mackyuuu</p>
		</div>
	</body>
</Base>
